{% extends "base.html" %}

{% block content %}
<div class="notes-section">
    <a href="{{ url_for('notes.new') }}" class="note new">
        <i class="fas fa-plus fa-2x"></i>
    </a>
    {% for note in notes %}
    <a href="{{ url_for('notes.get_note', key=note.key) }}" class="note">
        {% if note.title or note.body %}
            <h2>{{ note.title }}</h2>
            <p>{{ note.body }}</p>
        {% else %}
            <p>Empty Note</p>
        {% endif %}
    </a>
{% endfor %}
</div>
{% endblock %}
