{% extends "base.html" %}

{% block title %}{{ note.title }} - Notes{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
{% endblock %}

{% block content %}
<div class="note-container">
  <div class="parent">
    <form method="POST" id="note-form">
        <div class="heading">
            <input id="title" spellcheck="false" value="{{ note.title }}" autocomplete="off" disabled="true">
            <p id="status">‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎</p>
        </div>
        <textarea id="body" spellcheck="false" disabled="true">{{ note.body }}</textarea>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
    function updateContent() {
        $.ajax({
        type: 'POST',
        url: "{{ url_for('notes.get_note', key=note.key) }}",
        success: function(res)
        {
            $("input").val(res.title);
            $("textarea").val(res.body);
        }
        })
    }

    var update;
    $( document ).ready(function() {
        update = setInterval(updateContent, 5000);
    });

</script>
{% endblock %}
